@import '../../../css/theme';

.sidebar {
	background-color: rgba($color: black, $alpha: 0.3);
	color: rgba($color: $text, $alpha: 1);
	width: 20vw;
	height: 100vh;
	overflow-y: hidden;

	.sidebar_header {
		padding: 20px 20px;
		display: flex;

		.image {
			max-width: 30px;
			width: 100%;
			height: 100%;
		}

		.title {
			font-size: 20;
		}
	}
}
