@import '../../../css/theme';

@mixin trans {
	color: black;
	transition: color 300ms ease;
}

.sidebarOption {
	max-height: 10vh;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: $text;
	.sidebarOption--active {
		background-color: $hover;
		color: black;
	}
	&:hover {
		background-color: $hover;
		border-radius: 0px;
		@include trans();
		h2 {
			@include trans();
		}
	}

	h2 {
		font-weight: 800;
		font-size: 20px;
		margin-right: 20px;
	}
	.MuiSvgIcon-root {
		padding: 20px;
	}
}
.sidebarOption--active {
	color: $text;
}
