@import '../../../css/theme';

.deadlinecard {
	background-color: rgba(39, 141, 152, 0.7);
	border-radius: 10px;
	border: 2px solid black;
	padding-left: 10px;
	min-width: 720px;
	width: 100%;
	margin-bottom: 15px;
	height: auto;

	.card_root {
		display: flex;
		justify-content: space-between;

		.card_content {
			display: flex;
			align-items: center;
		}

		.card_buttons {
			display: flex;
			align-items: center;
		}
	}
}
