@import '../../../css/theme';

.deadlinecard {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: 1px solid $primary;
	padding-left: 10px;
	min-width: 720px;
	width: 100%;
	margin-bottom: 15px;
	height: auto;

	.card_root {
		display: flex;
		justify-content: space-between;

		.card_content {
			width: 100%;
			display: flex;
			align-items: center;

			.content_description {
				text-transform: capitalize;
			}
			.content_category {
				position: absolute;
				left: 38vw;
				font-style: italic;
				text-transform: uppercase;
			}
			.content_date {
				position: absolute;
				left: 48vw;
			}
		}

		.card_buttons {
			display: flex;
			align-items: center;
		}
	}
}
